/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  width: 100%;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: bottom;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/*
 * Header
 */

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  font-weight: bold;
}

.btn-lg {
  padding-bottom: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: bold;
}

/*
 * Body
 */

body { 
  background: url(video/sakura.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
    padding-top: .5rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 500;
}

.content {
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  border: .25rem solid  #fbc3e7;
  color: #fbc3e7;
  /*-webkit-animation-delay: 1s;*/
}

/*
 * Buttons
 */

.btn-main {
	background: #fbc3e7;
	margin: 1rem auto;
	color: #ffffff;
  width: 12rem;
}

.btn-main:hover, .btn-main:focus, .btn-main:active, .btn-main.active, .open > .dropdown-toggle.btn {
	background: #ce56a3;
    color: #ffffff;
    transform: scale(1.1);
}

/*
 * Nav 
 */

.navbar {
    background: #fbc3e7;
    width: 100%;
}

.nav-container {
  position: relative;
  margin: auto;
}


a, a:hover {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

li {
    padding-right: 1rem;
}


li > a, .mastfoot a {
  display: inline-block;
  font-size: 1.25rem;
}

li > a:after, .mastfoot a:after {
  content: "";
  display: block;
  margin: auto;
  height: .25rem;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  -webkit-transition: width .5s ease, background-color .5s ease;
  -moz-transition: width .5s ease, background-color .5s ease;
}

li > a:hover:after, .mastfoot a:hover:after {
    width: 100%;
    background: #ce56a3;
}

li > a:active, .mastfoot a:active {
    color: #ce56a3;
}

/*
 * Footer
 */

.mastfoot {
    font-size: 1.25rem;
}

.inner a:hover {
    text-decoration: none;
}

.social a:hover:after {
    background: none;
}

.social a:active {
    color: #ffffff;

}

/*
 * Media Queries
 */

@media (max-width: 575px) {
  .site-wrapper {
    padding-bottom: 3em;
  }

  .nav-link, .mastfoot, .mastfoot a {
    font-size: 1rem;
  }
}

@media (min-width: 576px){
  .cover-container {
    width: 80%;
  }
  .site-wrapper {
    padding-top: 22em;
  }
  .mastfoot-container {
    position: relative;
    margin-bottom: 13em;
  }

  .mastfoot {
    position: absolute;
    left: 3em;
    right: 3em;
    font-size: 1rem;
  }

  .nav-link, .mastfoot a {
    font-size: 1rem;
  }

}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }

  .mastfoot-container {
    position: relative;
    margin-top: 2em;
    margin-bottom: 5em;
  }

  .mastfoot {
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    font-size: 1.25em;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
    margin-bottom: 50px;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px; /* Must be percentage or pixels for horizontal alignment */
  }
  .site-wrapper {
    padding-top: 5em;
}

.nav-link, .mastfoot a {
    font-size: 1.25rem;
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
  .site-wrapper {
    padding-top: 5em;
}

}







