body { 
  background: url(video/sakura.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
    padding-top: .5rem;
}

.lead {
  font-size: 1.25rem;
  font-weight: 500;
}

.content {
  animation-duration: 3s;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -o-animation-duration: 3s;
  border: .25rem solid  #fbc3e7;
  color: #fbc3e7;
  /*-webkit-animation-delay: 1s;*/
}

.btn-main {
	background: #fbc3e7;
	margin: 1rem 0;
	color: #ffffff;
  vertical-align: middle;
}

.btn-main:hover, .btn-main:focus, .btn-main:active, .btn-main.active, .open > .dropdown-toggle.btn {
	background: #ce56a3;
    color: #ffffff;
    transform: scale(1.1);
}

.navbar {
    background: #fbc3e7;
    width: 100%;
}

.nav-container {
  position: relative;
  margin: auto;
}


a, a:hover {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

li {
    padding-right: 1rem;
}


li > a, .mastfoot a {
  display: inline-block;
  font-size: 1.25rem;
}

li > a:after, .mastfoot a:after {
  content: "";
  display: block;
  margin: auto;
  height: .25rem;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
  -webkit-transition: width .5s ease, background-color .5s ease;
  -moz-transition: width .5s ease, background-color .5s ease;
}

li > a:hover:after, .mastfoot a:hover:after {
    width: 100%;
    background: #ce56a3;
}

li > a:active, .mastfoot a:active {
    color: #ce56a3;
}

.mastfoot {
     font-size: 1.25rem;
}

.inner a:hover {
    text-decoration: none;
}

.social a:hover:after {
    background: none;
}

.social a:active {
    color: #ffffff;

}


@media (max-width: 575px) {
  .site-wrapper {
    padding-bottom: 3em;
  }

  .nav-link, .mastfoot, .mastfoot a {
    font-size: 1rem;
  }
}

@media (min-width: 576px){
   .cover-container {
     width: 80%;
   }
   .site-wrapper {
    padding-top: 22em;
  }
  .mastfoot-container {
    position: relative;
    margin-bottom: 13em;
  }

  .mastfoot {
    position: absolute;
    left: 3em;
    right: 3em;
    font-size: 1rem;
  }

  .nav-link, .mastfoot a {
    font-size: 1rem;
  }

}


@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }

  .mastfoot-container {
    position: relative;
    margin-top: 5em;
    margin-bottom: 5em;
  }

  .mastfoot {
    position: absolute;
    top: 3em;
    left: 0;
    right: 0;
    font-size: 1.25em;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
    margin-bottom: 50px;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px; /* Must be percentage or pixels for horizontal alignment */
  }
  .site-wrapper {
    padding-top: 5em;
}

.nav-link, .mastfoot a {
    font-size: 1.25rem;
  }
}


@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px;
  }
  .site-wrapper {
    padding-top: 5em;
}

}




